body {
  margin: 14px;
  border: 20px;
  padding: 30px;
}

img.rhcp-logo {
  float: left;
  height: 200px;
  width: auto;
  padding: 40px;
}

.column {
  width: 300px;
  float: left;
}
.sidebar {
   float: right;
   border: 10px solid red;
   padding: 6px;
 }

.video {
  display: block;
  margin: 0 auto;
}
